@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {}

.information-column {
    padding: 40px;
    background-color: black;
    color: #FFF;
    text-align: center;
}

.information-column hr {
    border: none;
    border-bottom: 1px solid green;
    margin-top: 18px;
}

.information-column img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid green;
    margin-bottom: 18px;
}

.information-column h3 {
    text-align: left;
    margin-top: 20px;
}

.information-column ul {
    list-style-type: none;
}

.information-column li {
    text-align: left;
    margin: 10px 0;
}

.contact-description a {
    text-decoration: none;
    color: #FFF;
}

.contact-description i {
    color: green;
    margin-right: 10px;
}

.education-description {
    margin-top: 32px;
}

.education-description p {
    color: green;
}

.language-description .percent {
    height: 6px;
    background-color: green;
    margin-top: 5px;
    width: 205px;
}

.language-description .percent div {
    height: 6px;
    background-color: #32CD32;
}

.language-description .percent.english div {
    width: 85%;
}

.experiences-column {
    background-color: #FFF;
    padding: 40px;
    color: black;
}

.experiences-column section {
    margin-bottom: 30px;
}

.experiences-column h2 {
    padding-bottom: 15px;
}

.experiences-column .experience {
    margin-bottom: 14px;
}

.experiences-column .last-update {
    text-align: right;
}

@media (min-width: 992px) {
    .container {
        display: flex;
    }

    .information-column img {
        width: 200px;
        height: 200px;
    }

    .experiences-column .experience {
        display: flex;
    }

    .experiences-column .experience .experience-date {
        width: 250px;
    }
}